@model ConsultationAppointmentClient.Models.Consultant

@{
    ViewData["Title"] = "Delete";
}

<div class="card card-4 row col-md-6 offset-md-4">
    <div class="text-md-end">
        <a class="text-dark" asp-area="" asp-controller="Home" asp-action="Logout">Logout</a>
    </div>
    <div class="card-body">
        <h3 class="title">Delete Consultant</h3>
        <hr />
        <div>
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ConsultantId)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ConsultantId)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ConsultantFirstName)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ConsultantFirstName)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ConsultantLastName)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ConsultantLastName)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ConsultantContactNo)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ConsultantContactNo)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Date)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Date)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.StartTime)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.StartTime)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.EndTime)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.EndTime)
        </dd>
    </dl>
            <form asp-action="Delete">
                <input type="submit" value="Delete" class="btn btn-danger" /> |
                <a asp-action="Index">Back to List</a>
            </form>
        </div>
     </div>
</div>